body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(to right, #3498db, #2ecc71); /* Gradient background */
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin: 0;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

p {
  color: #ecf0f1;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

.fitness-form {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  box-sizing: border-box;
}

/* Form Labels */
label {
  font-size: 1rem;
  color: #34495e;
  margin-bottom: 5px;
}

/* Make input fields and select consistent */
.form-group input,
.form-group select {
  width: 100%; /* Make all input fields and selects take full width */
  padding: 12px;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Input and select focus effect */
.form-group input:focus,
.form-group select:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.4);
  outline: none;
}

/* Group input elements for height and weight */
.input-group {
  display: flex;
}

.input-group input,
.input-group select {
  width: 100%; /* Ensure inputs and selects in groups take full width */
}

.input-group input {
  margin-right: 10px; /* Adds space between number input and unit select */
  flex: 3; /* Ensure the input takes more space */
}

.input-group select {
  flex: 1; /* Ensure the select takes proportionate space */
}

/* Submit button styling */
button {
  grid-column: span 2;
  padding: 15px;
  background-color: #3498db;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.error-message {
  color: #e74c3c;
  margin: 10px 0;
}

.json-output {
  background: #ecf0f1;
  border: 2px solid #bdc3c7;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  max-width: 900px;
  overflow-y: auto;
  white-space: normal;
  word-wrap: break-word;
  border-radius: 10px;
  font-size: 1rem;
}

@media (max-width: 600px) {
  .fitness-form {
    grid-template-columns: 1fr; /* Switch to single-column layout for smaller screens */
  }

  h1 {
    font-size: 1.8rem;
  }

  label {
    font-size: 0.9rem;
  }

  input[type="text"],
  input[type="number"],
  select {
    font-size: 0.9rem;
  }

  button {
    grid-column: 1; /* Ensure the button spans full width in single column */
  }
}
